/*  ================================
        global part start
    ================================ */

body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #777;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    transition: all 0.5s;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.section-padding {
    padding: 50px 0;
}

.section-bottom-padding {
    padding-bottom: 50px;
}

/*  ================================
        global part end
    ================================ */

/*  ================================
        header part start
    ================================ */

.header-area {
    background: url('../img/background.jpg') no-repeat center center / cover;
    height: 150px;
    box-shadow: 0 0px 30px 5px #888888;
}

.logo {
    position: relative;
    top: 25px;
    display: inline-block;
}

.header-right {
    padding-top: 40px;
    display: inline-block;
    text-align: center;
}

.header-right h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
}

.header-right img {
    width: 150px;
}

/*  ================================
        header part end
    ================================ */

/*  ================================
        product title start
    ================================ */

.pro-title {
    padding: 30px 0;
}

.pro-title h2 {
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

/*  ================================
        product title end
    ================================ */

/*  ================================
        product gallery img end
    ================================ */

.product-img-wraper {
    padding: 50px;
    box-shadow: 0 0px 30px 5px rgba(0, 0, 0, 0.1);
}

.csslider {
    position: relative;
}

.csslider > input {
    display: none;
}

.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
    margin-left: -900%;
}

.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
    margin-left: -800%;
}

.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
    margin-left: -700%;
}

.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
    margin-left: -600%;
}

.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
    margin-left: -500%;
}

.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
    margin-left: -400%;
}

.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
    margin-left: -300%;
}

.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
    margin-left: -200%;
}

.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
    margin-left: -100%;
}

.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
    margin-left: 0;
}

.csslider > ul {
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    white-space: nowrap;
    z-index: 1;
}

.csslider > ul > li {
    box-sizing: border-box;
    display: inline-block;
    font-size: initial;
    height: 100%;
    line-height: normal;
    overflow: hidden;
    position: relative;
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1) 0s;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
    text-align: center;
}

.csslider > ul > li.scrollable {
    overflow-y: scroll;
}

.csslider > .navigation {
    margin: 20px 0 0;
    text-align: center;
}

.csslider > .navigation label {
    background: transparent none repeat scroll 0 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 0 4px;
    padding: 4px;
    position: relative;
}

.csslider > .navigation label:hover::after {
    opacity: 1;
}

.csslider > .navigation label::after {
    background: transparent none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    left: 50%;
    margin-left: -6px;
    margin-top: -6px;
    opacity: 0;
    padding: 6px;
    position: absolute;
    top: 50%;
}

.csslider > .arrows {
    -moz-user-select: none;
}

.csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
}

.csslider.inside .navigation label {
    border: 1px solid #7e7e7e;
}

.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1)::after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2)::after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3)::after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4)::after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5)::after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6)::after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7)::after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8)::after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9)::after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10)::after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11)::after {
    opacity: 1;
}

.csslider > .arrows {
    box-sizing: content-box;
    height: 26px;
    left: -31px;
    padding: 0 31px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 0;
    margin-top: -20px;
}

.csslider > .arrows label {
    box-shadow: 2px -2px 0 1px #3a3a3a inset;
    cursor: pointer;
    display: none;
    padding: 13px;
    position: absolute;
    top: -50%;
    transition: box-shadow 0.15s ease 0s, margin 0.15s ease 0s;
    z-index: 9999;
}

.csslider > .arrows label:hover {
    box-shadow: 3px -3px 0 2px #1192E8 inset;
    margin: 0;
}

.csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(10) {
    display: block;
    left: -27px;
    right: auto;
    transform: rotate(45deg);
    top: -50px;
}

.csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
    display: block;
    left: auto;
    right: -27px;
    transform: rotate(225deg);
    top: -50px;
}

#slider1 > input:nth-of-type(3):checked ~ ul #bg {
    padding: 22px;
    transition: all 0.5s ease 0.5s;
    width: 80%;
}

#slider1 > input:nth-of-type(3):checked ~ ul #bg div {
    transform: translate(0px);
    transition: all 0.5s ease 0.9s;
}

#slider1 > input:nth-of-type(6):checked ~ ul #dex-sign {
    animation: 3.5s steps(85) 0.5s normal forwards 1 running sign-anim;
}

#bg {
    color: #000;
    height: 20%;
    left: 0;
    overflow: hidden;
    padding: 22px 0;
    position: absolute;
    top: 16%;
    width: 0;
    z-index: 10;
}

#bg::before {
    background: rgba(0, 0, 0, 0) url("https://raw.github.com/drygiel/csslider/master/examples/themes/fruit.jpg") repeat scroll 1px 23%;
    content: "";
    filter: blur(7px);
    height: 100%;
    left: -1px;
    position: absolute;
    top: 1px;
    width: 100%;
    z-index: -1;
}

#bg::after {
    background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

#bg div {
    transform: translate(120%);
}

.scrollable p {
    font-size: 120%;
    line-height: 140%;
    padding: 30px;
    text-align: justify;
}

#center {
    margin-top: 25%;
    text-align: center;
}

#center a {
    font-variant: small-caps;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.rt-container {
    margin: 0 auto;
    width: 76%;
}

.csslider ul li img {
    height: auto;
    width: auto;
    max-height: 100%;
}

.navigation > label {
    border: 1px solid #ddd;
    border-radius: 5px !important;
}


/*  ================================
        product gallery img end
    ================================ */

/*  ================================
     product description area start
    ================================ */

.section-title {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 20px;
    background-color: #1192E8;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: uppercase;
}

.section-title h2 {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}

.des-content {
    border: 1px solid #1192E8;
    border-top: 0;
    padding: 25px 40px;

}

.des-content h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}

.des-content h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    display: block;
}

.des-content p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.des-content ul {
    display: block;
    margin-left: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.des-content ul li {
    font-size: 14px;
    list-style: outside none none;
    padding: 0 0 5px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.des-content ul li::before {
    color: #1192E8;
    content: "ÔÅÜ";
    font-family: fontawesome;
    margin: 0 5px 0 -15px;
}

.des-content img {
    margin: 15px 0 10px;
}

/*  ================================
      product description area end
    ================================ */

/*  ================================
      footer area start
    ================================ */

.footer-top-left {
    position: relative;
    top: 80px;
}

.footer-top-right {
	position: relative;
	top: 48px;
	display: inline-block;
    text-align: center;
}

.footer-top-right h3 {
    text-transform: capitalize;
    font-size: 20px;
    color: #1a1a1a;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
}

.footer-top-right img {
    height: 120px;
}

.footer-area {
    background: url('../img/background.jpg') no-repeat center center / cover;
}

.copyright {
    padding: 35px 0;
}

.copyright p {
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

/*  ================================
      footer area end
    ================================ */
